
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333333;
}

.header {
    background-color: #00000067;
    color: #ffffff;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px;
    font-family: Geneva, Verdana, sans-serif;
}

/* Centering the logo */
.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Copperplate, Papyrus, fantasy;
    text-shadow: 0px 0px 10px #ffea00;
}


.logo:hover{
    color: #f4b400;
}


.services-section{
    background-color:#3b646e;
}


/* Flex container for the left-side links */
.nav-left {
    display: flex;
    gap: 20px; /* Space between the links */
}

/* Flex container for the right-side links */
.nav-right {
    display: flex;
    gap: 20px; /* Space between the links */
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}


/* Styling the nav links */
.nav-links a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 10px;
}

.nav-links a:hover {
    color: #f4b400;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}


/* General button styles */
button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid #ffea00;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  button:hover {
    background: #837800;
    box-shadow: 0 0 30px 5px rgba(0, 255, 225, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  
  /* Flexbox container for buttons */
  .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 95%; /* Adjust the max-width as needed */
    margin-bottom: 2rem;
  }
  
  /* Optional: Style for individual buttons if needed */
  .buttons button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  /* Specific styles to align buttons to left and right */
  .buttons button:first-child {
    margin-right: auto; /* Align the first button to the left */
  }
  
  .buttons button:last-child {
    margin-left: auto; /* Align the second button to the right */
  }
  
/* Hero Section */
.hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('photo1.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    z-index: 1; /* Ensure the hero-section content is above the overlay */
    transition: background-image 0.5s ease-in-out;
}

#hero-heading, #hero-subheading {
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-out {
    opacity: 0;
  }
  
  .fade-in {
    opacity: 1;
  }

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Adjust the opacity value to make it darker or lighter */
    z-index: -1; /* Ensure the overlay is behind the hero-section content */
}

.hero-section h1, .hero-section p, .hero-section .btn {
    position: relative;
    z-index: 2; /* Ensure the text and button are above the overlay */
}

.hero-section h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    text-shadow: 0px 0px 10px #ffea00; /* Corrected text-shadow */
    font-family: Copperplate, Papyrus, fantasy;
}

.hero-section p {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-family: 'Brush Script MT', cursive;
    text-shadow: 0px 0px 10px #ffea00; /* Corrected text-shadow */
}

.btn {
    background: #006207;
    color: #fff;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: 0px 0px 20px #00d0ff;
}

.btn:hover {
    background: #007e08;
}

/* About Section */
.about-section {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background: url('photo1.jpg') no-repeat center center/cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  z-index: 2; /* Ensure content is above the blur */
}

.about-text {
  flex: 1;
  margin-right: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the text */
  align-items: center;
}

.video-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(40px);
  z-index: 1; /* Ensure blur is behind video and text */
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); /* For Safari */
}

.blur-background-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(40px); /* Apply blur effect to the background */
    z-index: -1; /* Ensure blur is behind video and text */
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); /* Smooth top border */
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); /* For Safari */
}
.about-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
    z-index: 1; /* Ensure it's above the background image */
}

.about-section h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: Copperplate, Papyrus, fantasy;
    position: relative; /* Ensure content appears above overlay */
    z-index: 2; /* Ensure content appears above overlay */
    color: #fff; /* Text color for better visibility */
}

.about-section p {
    font-size: 1.5rem;
    max-width: 600px;
    margin: 0 auto;
    font-family: Garamond, serif;
    position: relative; /* Ensure content appears above overlay */
    z-index: 2; /* Ensure content appears above overlay */
    color: #fff; /* Text color for better visibility */
    background-color: #0090a335;
    border-radius: 15px;
}

.video-container {
    position: relative;
    display: inline-block;
    max-width: 100%;
    padding-top: 50px;
}

/* Services Section */


.services-section {
  padding: 4rem 20px;
  text-align: center;
  font-family: Copperplate, Papyrus, fantasy;
  color: #ccc;
  background-color: #000000;
}

.services-section h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.services-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.service {
  flex: 1 1 45%; /* Allow some flexibility in width */
  margin: 2rem 1rem;
  
}

.service h3 { 
  font-size: 3rem;
  margin-bottom: 0.5rem;
  text-shadow: 0px 0px 10px #ffea00;
}

.service p {
  font-size: 2rem;
  max-width: 600px;
  margin: 0 auto;
  background-color: #0090a335;
  border-radius: 15px;
}

/* Contact Section */
.contact-section {
  position: relative; /* Ensure relative positioning for content */
  background-image: url("photo1.jpg"); /* Replace with your image path */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 4rem 20px;
  text-align: center;
  color: #f4b400;
  z-index: 2; /* Ensure the contact section is above the overlay */
}
.contact-background-photo {
  position: absolute;
  top: 0;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust to center horizontally */
  width: 80%; /* Adjust width as needed */
  height: 110%; /* Maintain full height */
  background-image: url("slide4.jpg"); /* Replace with your background photo */
  background-size: cover;
  background-position: center;
  opacity: 75%;
  z-index: -1; /* Behind everything */
}
.contact-content {
  position: relative;
  z-index: 0; /* Ensure it's above the overlay */
}

.contact-section h2 {
  position: relative;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  z-index: 2;
}

.contact-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.contact-section input,
.contact-section textarea {
  width: 100%;
  max-width: 400px;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 2;
}

.contact-section button {
  background: #f4b400;
  color: #fff;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  
}

.contact-section button:hover {
  background: #d49000;
}


/* Footer */
.footer {
    background: #000000;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
}

.footer p {
    margin: 0;
}

/* Responsive */
@media (max-width: 600px) {
    .nav-links {
        display: none;
        flex-direction: column;
        gap: 0;
        background: #ffffff;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .burger {
        display: block;
        
    }
    
    
}

/*----------------------image track-------------------------*/
.image-body {
    height: 70vh;
    width: 100vw;
    position: relative;
    overflow: hidden; /* Ensure images don't overflow */
    background: url('photo1.jpg') no-repeat center center/cover;
    background-attachment: fixed;
  }
  
  #image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%); 
    user-select: none; /* -- Prevent image highlighting -- */
  }
  
  #image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    position: relative;
    overflow: hidden;
}

.slider-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("photo11.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    transition: filter 0.3s;
    z-index: -1;
}

.slider-container:hover::before {
    filter: brightness(20%);
}

.slider {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}

@keyframes rotate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }

    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}

.slider span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(350px);
}

.slider span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    transition: 2s;
}


.slider span:hover img {
    transform: translateY(-50px) scale(1.2);
}

/* -------------------------------Form---------------------------------- */

#form-section {
  position: relative; /* Ensure relative positioning for children */
  display: flex; /* Use flexbox to align items */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 60vh; /* Adjust height as needed */
  background-image: url("photo1.jpg"); /* Replace with your image path */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 0px; 
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Adjust height as needed */
    background-image: url("photo1.jpg"); /* Replace with your image path */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    flex: 1;
}

.reserve-title {
  position: relative;
    text-align: center;
    font-size: 2.5rem;
    color: white;
    z-index: 2;
    font-family: Copperplate, Papyrus, fantasy;
    text-shadow: 0px 0px 10px #ffea00;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  }
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #44ffae2d;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}
  
  .message {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(255, 0, 0, 0.397);
    border-radius: 5px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: rgb(4, 4, 4);
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }
  
  .input01 {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 5px;
  }
  
  .form label .input01 + span {
    position: absolute;
    left: 10px;
    top: 50px;
    color: rgb(0, 0, 0);
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input01:placeholder-shown + span {
    top: 40px;
    font-size: 0.9em;
  }
  
  .form label .input01:focus + span,.form label .input01:valid + span {
    top: 50px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input01:valid + span {
    color: green;
  }
  
  .fancy {
    background-color: transparent;
    border: 2px solid #00991c;
    border-radius: 0px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-weight: 390;
    letter-spacing: 2px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 8px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
  }
  
  .fancy::before {
    content: " ";
    width: 1.7rem;
    height: 2px;
    background: #cacaca;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform: translateX(230%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
  }
  
  .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: lowercase;
    text-decoration: none;
    color: #00ff48;
    transform: translateX(30%);
  }
  
  .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: rgb(242, 255, 0);
    transition: width 0.5s ease-out, left 0.3s ease-out;
  }
  
  .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #0090a3;
    transition: width 0.5s ease-out, right 0.3s ease-out;
  }
  
  .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: rgb(255, 255, 88);
    transition: width 0.5s ease-out, right 0.3s ease-out;
  }
  
  .fancy:hover {
    color: white;
    background: #90ff71;
  }
  
  .fancy:hover::before {
    width: 1.5rem;
    background: rgb(17, 0, 255);
  }
  
  .fancy:hover .text {
    color: rgb(20, 136, 0);
    padding-left: 1.5em;
  }
  
  .fancy:hover .top-key {
    left: -2px;
    width: 0px;
  }
  
  .fancy:hover .bottom-key-1,
   .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
  }

  .reservation-info {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    right: 700px; /* Adjust right offset as needed */
    transform: translateY(-50%);
    text-align: center;
    z-index: 2; /* Ensure above background */
}

.reservation-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.reservation-info p {
    font-size: 1rem;
    margin-bottom: 5px;
}


  
  .gallery-title {
    position: relative;
    text-align: center;
    font-size: 2.5rem; /* Adjust size as needed */
    color: white;
    margin-bottom: 2rem;
    z-index: 2; /* Ensure text is above the dark overlay */
    font-family: Copperplate, Papyrus, fantasy; /* Optional: match other section fonts */
    text-shadow: 0px 0px 10px #ffea00;
}